* {
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
    --dark-blue: #3C567B;
    --menu-active: #2E4E92;
    --menu: #1F1534;
    --light-blue-text: #93C1F9;
    --buttons: #458FF6;
    --headings: #462E6A;
    --text-gray: #CCD2E9;
    --text-all: #7D7987;
    --black: #000000;
    --testimonials: #5B9BF3;
    --white: #fff;
    --footer-up: #6888C8;
    --footer-down: #5A98F2;
    font-family: 'Mulish', sans-serif; 
}

img {
    display: block;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
  }
  
ul {
    list-style: none;
  }
  
.logo {
    width: 28px;
    height: 28px;
}

.header__navigation-menu {
    display: flex;
    flex-direction: row;
    color: var(--menu);
}

h1 {
    color: var(--dark-blue);
}

.header__logo-container-text {
    color: var(--headings);
}

footer {
    background-color: var(--footer-up);
}
